APP_ENV=dev
LOG_LEVEL=debug

WALLET_GRPC_PORT=50051
WALLET_DB_URL=postgres://wallet:wallet@localhost:5432/wallet_db?sslmode=disable
KAFKA_BROKERS=localhost:9092

# fraud service
FRAUD_GRPC_PORT=50052
FRAUD_DB_URL=postgres://user:password@localhost:5432/fraud_db?sslmode=disable
FRAUD_MAX_AMOUNT_PAISE=5000000
FRAUD_MAX_PER_MINUTE=5

# payment service
PAYMENT_GRPC_PORT=50053
PAYMENT_DB_URL=postgres://user:payment@localhost:5432/payment_db?sslmode=disable
WALLET_GRPC_ADDR=localhost:50051
FRAUD_GRPC_ADDR=localhost:50052

# ledger service
LEDGER_GRPC_PORT=50054
LEDGER_DB_URL=postgres://user:ledger@localhost:5432/ledger_db?sslmode=disable
LEDGER_RECONCILE_SECONDS=15